<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
  <title>Home</title>
</head>

<body>
<div layout:fragment="content">
  <section class="section first-section">
    <div class="container-fluid">
      <div class="masonry-blog clearfix">
        <div th:each="article : ${articles}" class="left-side">
          <div class="masonry-box post-media">
            <img th:src="${article.photoUrl}" alt="" class="img-fluid">
            <div class="shadoweffect">
              <div class="shadow-desc">
                <div class="blog-meta">
                  <span class="bg-aqua"><a href="blog-category-01.html" title="">Gardening</a></span>
                  <h4><a href="garden-single.html" title="" th:text="${article.title}">How to choose high quality soil for your gardens</a></h4>
                  <small><a href="garden-single.html" title="">21 July, 2017</a></small>
                  <small><a href="#" title="">by Amanda</a></small>
                </div><!-- end meta -->
              </div><!-- end shadow-desc -->
            </div><!-- end shadow -->
          </div><!-- end post-media -->
        </div><!-- end left-side -->

      </div><!-- end masonry -->
    </div>
  </section>

  <section class="section wb">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <div class="page-wrapper">
            <div class="blog-list clearfix">
              <div th:each="article , data : ${articleFeed}" >
                <hr class="invis">
              <div class="blog-box row">
                <div class="col-md-4">
                  <div class="post-media">
                    <a href="garden-single.html" title="">
                      <img th:src="${article.photoUrl}" alt="" class="img-fluid">
                      <div class="hovereffect"></div>
                    </a>
                  </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                  <span class="bg-aqua"><a th:href="'/article/category/'+${article.category.id}" th:text="${article.category.name}" title="">Indoor</a></span>
                  <h4><a th:href="'/article/detail/'+${article.id}" title="" th:text="${article.title}">The best twenty plant species you can look at at home</a></h4>
                  <p th:text="${article.description}">Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                  <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 1887</a></small>
                  <small><a href="garden-single.html" title="">11 July, 2017</a></small>
                  <small><a href="#" title="">by Matilda</a></small>
                </div><!-- end meta -->
              </div><!-- end blog-box -->
              <hr class="invis">

              <div th:if="${(data.index+1) % 3 == 0}" class="row">
                <div class="col-lg-10 offset-lg-1">
                  <div class="banner-spot clearfix">
                    <div class="banner-img">
                      <img src="/front/upload/banner_05.jpg" alt="" class="img-fluid">
                    </div><!-- end banner-img -->
                  </div><!-- end banner -->
                </div><!-- end col -->
              </div><!-- end row -->
                </div>

            </div><!-- end blog-list -->
          </div><!-- end page-wrapper -->

          <hr class="invis">

          <div class="row">

            <div class="col-md-12">
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-start">
                  <li  th:each="i: ${#numbers.sequence(1, pageSize)}" class="page-item"><a class="page-link" th:text="${i}" th:href="'?pageNumber='+${i}">1</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div><!-- end col -->
          </div><!-- end row -->
        </div><!-- end col -->

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="sidebar">
            <div class="widget">
              <h2 class="widget-title">Search</h2>
              <form class="form-inline search-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search on the site">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </form>
            </div><!-- end widget -->

            <div class="widget">
              <h2 class="widget-title">Recent Posts</h2>
              <div class="blog-list-widget">
                <div class="list-group">
                  <a href="garden-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="w-100 justify-content-between">
                      <img src="/front/upload/garden_sq_09.jpg" alt="" class="img-fluid float-left">
                      <h5 class="mb-1">5 Beautiful buildings you need to before dying</h5>
                      <small>12 Jan, 2016</small>
                    </div>
                  </a>

                  <a href="garden-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="w-100 justify-content-between">
                      <img src="/front/upload/garden_sq_06.jpg" alt="" class="img-fluid float-left">
                      <h5 class="mb-1">Let's make an introduction for creative life</h5>
                      <small>11 Jan, 2016</small>
                    </div>
                  </a>

                  <a href="garden-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="w-100 last-item justify-content-between">
                      <img src="/front/upload/garden_sq_02.jpg" alt="" class="img-fluid float-left">
                      <h5 class="mb-1">Did you see the most beautiful sea in the world?</h5>
                      <small>07 Jan, 2016</small>
                    </div>
                  </a>
                </div>
              </div><!-- end blog-list -->
            </div><!-- end widget -->

            <div class="widget">
              <h2 class="widget-title">Advertising</h2>
              <div class="banner-spot clearfix">
                <div class="banner-img">
                  <img src="/front/upload/banner_04.jpg" alt="" class="img-fluid">
                </div><!-- end banner-img -->
              </div><!-- end banner -->
            </div><!-- end widget -->

            <div class="widget">
              <h2 class="widget-title">Instagram Feed</h2>
              <div class="instagram-wrapper clearfix">
                <a href="#"><img src="/front/upload/garden_sq_01.jpg" alt="" class="img-fluid"></a>
                <a href="#"><img src="/front/upload/garden_sq_02.jpg" alt="" class="img-fluid"></a>
                <a href="#"><img src="/front/upload/garden_sq_03.jpg" alt="" class="img-fluid"></a>
                <a href="#"><img src="/front/upload/garden_sq_04.jpg" alt="" class="img-fluid"></a>
                <a href="#"><img src="/front/upload/garden_sq_05.jpg" alt="" class="img-fluid"></a>
                <a href="#"><img src="/front/upload/garden_sq_06.jpg" alt="" class="img-fluid"></a>
                <a href="#"><img src="/front/upload/garden_sq_07.jpg" alt="" class="img-fluid"></a>
                <a href="#"><img src="/front/upload/garden_sq_08.jpg" alt="" class="img-fluid"></a>
                <a href="#"><img src="/front/upload/garden_sq_09.jpg" alt="" class="img-fluid"></a>
              </div><!-- end Instagram wrapper -->
            </div><!-- end widget -->
            <div class="widget">
              <h2 class="widget-title">Popular Categories</h2>
              <div class="link-widget">
                <ul>
                  <li th:each="category : ${@categoryService.getPopularCategories()}"><a th:href="'/article/category/'+${category.id}" th:text="${category.name}">Gardening</a> <span th:text="${category.count}">(21)</span></li>

                </ul>
              </div><!-- end link-widget -->
            </div><!-- end widget -->


          </div><!-- end sidebar -->
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </section>
</div>
<div class="widget">
  <h2 class="widget-title">Popular Categories</h2>
  <div class="link-widget">
    <ul>
      <li th:each="category : ${@categoryService.getPopularCategories()}"><a th:href="'/article/category/'+${category.id}" th:text="${category.name}">Gardening</a> <span th:text="${category.count}">(21)</span></li>

    </ul>
  </div><!-- end link-widget -->
</div><!-- end widget -->
</body>
</html>